a, a:visited {color:#1a6622;
    transition: all 100ms ease-in-out;
  }

  a:hover {
  color: #441900; 
  cursor: default;
    text-decoration: none;
  }


  body {background: url('../media/dicky-satria-mobile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 562px 862px;
    background-color: #f1f2f4;
  background-position-x: left;
  max-height: 900px;
  color: #394222;
  margin: 0;
  font-family: 'Roboto', sans-serif;}

    
button {
  margin-left: 310px;
  background-color: #f1f1f1;
border-radius: 8px;
padding: 12px 21px;
color: #1a6622;
border: 2px solid #629e54;
box-shadow: 1px 1px 3px 2px #9aca8e;
font-weight: 800;
transition: all 100ms ease-in-out;}

button:hover {background-color:#f8d49f;
color: #143806;
font-size: 16.5px;
padding: 11.5px 21.5px;
box-shadow: 1px 1px 3px 3px #9aca8e;
font-weight: 1000;
box-shadow: 1px 1px 3px 2px #0f4b00;}
  
footer {
    position: fixed;
    bottom: 0px;
    left: -45px;
      width: 50%;
      font-size: 18px;
    text-align: center;
    white-space: nowrap;
    }

    h4 p {  font-family: 'Crimson Text', serif;
      padding-top: 50px;
    }

    
label {color: #434e43;}

    .aboutMe p {
        margin: 0px 5px;
        max-width: 400px;
        height: 100%;
      position: relative;
      bottom: 170px; 
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;}


    .aboutMePhoto img {
        margin-left: 80px;
        position: relative;
        top: 370px;
      border-radius: 50%;
      max-width: 255px;
      max-height: 255px;
      filter: grayscale(25%);
      border: 2px solid #4F5748;
      }



        .backdrop3 {background-color:#f1f1f1;
            opacity: 70%;
            min-width: 300px;
            max-width: 400px;
            min-height: 320px;
            z-index: -1;
            position: relative;
          bottom: 490px;
          }

    .backdropFooter {background-color: #f1f1f1;
        opacity: 60%;
        max-width: 86px;
        min-width: 86px;
        min-height: 20px;
        padding: 0;
        z-index: -1;
        position: fixed;
        bottom: 5px;
        left: 15px;}

        .backdropFooter2 {background-color: #f1f1f1;
            opacity: 60%;
            max-width: 86px;
            min-width: 86px;
            min-height: 20px;
            padding: 0;
            z-index: -1;
            position: fixed;
            bottom: 5px;
            left: 15px;}

        .backdropFooter3 {background-color: #f1f1f1;
            opacity: 60%;
            max-width: 86px;
            min-height: 20px;
            min-width: 86px;
            padding: 0;
            z-index: -1;
            position: fixed;
            bottom: 5px;
            left: 15px;}

        
        .backdropFooter4 {background-color: #f1f1f1;
            opacity: 60%;
            max-width: 86px;
            min-height: 20px;
            min-width: 86px;
            padding: 0;
            z-index: -1;
            position: fixed;
            bottom: 5px;
            left: 19px;}

        .basedIn {font-size: 28px;
          margin-top: -10px;
          letter-spacing: -3px;
            text-align: right;
            font-family: 'Amiri', serif;
          color: #4e533d;
          white-space: nowrap;}

.card {max-width: 220px;
max-height: 205px;}

.card-title {margin-top: 15px;
    color: #a34f3a;
font-size: 17px;}

.codepen {padding-right: 0px;}
.contactHeader h1 {font-family: 'Crimson Text', serif;
    padding: 30px 0 0 5px;
    display: inline-block;
    color: #9C534E;
    z-index: 1;}

    .contactLinks .list-group {display: flex;
      align-items: flex-end;
      flex-basis: 74px;
        flex-direction: row;
        max-width: 90px;
        position: relative;
        right: 300px;
        top: 50px;
        font-size: 12px;
        }
.container {margin-left: 0;}

.homepage h4 {margin-top: 20px;}
  
.inputs {
    max-width: 98%;
  margin-top: 0px;
  padding-left: 7px;}

.left {float: left;}

.list-groupl-item:hover {cursor: pointer;
    color: #000000; }
  
    .list-group-item:active, .list-group-item {color: #1a6622;
    text-align: center;
    min-height: 60.266px;
    max-height: 60.266px;
    padding: 12px 25px;}

.name {margin-top: 30px;
    font-size: 40px;
    color:#9C534E;
    font-family: 'Crimson Text', serif;
    letter-spacing: 3px;
    white-space: nowrap;
    text-shadow: 3px 3px 3px #d8c3bb,
    0px 0px 15px #d8c3bb;
    }

    .nav .active {color: #9C534E;
      cursor: default;
      text-decoration: none;}

.navbar {padding-left: 0;
margin-left: -26px;}

.navbarLinks {margin-top: 2px;
    margin-left: -4px;
font-size: 17px;}

.monogramLogo {max-width: 25px;
    max-height: 25px;
    position: relative;
    left: 7px;
    border-radius: 5px;
  box-shadow: 0px 0px 7px #c5afa5;}

.portfolio .flex-row {display: flex;
flex-direction: column!important;}
  .right {float: right;
    height: 0px;}

    .right .contactLinks {margin-right: 34px;
    margin-top: 10px;}

    .text-muted {color: #1e8105!important;
        text-emphasis: bold!important;}

        
    .weatherAppPic {transition: all 100ms ease-in-out;
        border-radius: 4px;
        max-height: 120px;
    max-width: 170px;}
        
        .weatherAppPic:hover {filter: grayscale(100%);
          opacity: 0.2;
          cursor: pointer;
        }
  
        
  .weatherAppVanilla, .fortuneTeller, .tarotReading, .donutUI, .reactWeatherApp, .divArt {padding: 90px 0 0 90px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 30%;}
  
  .weatherAppVanilla {padding-bottom: 20px;}
  