html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {width: 100vw;
    margin: 0;
    max-width: 100%;
    font-family: 'Bitter', serif;
background-color: #252425;
color: #a16268;}

a {text-decoration: none;
    color: #e7d2dc;}

a:hover {color: #ec9bba;}

 button {
    padding: 8px 18px;
    background-color: #161616;
    color: #EEF0F0;
border: 2px solid #9b7183;
    outline: none;
    border-radius: 3px;
    font-size: 18px;}

    button:hover {background-color: #522d35;
        color: #e9b7e2;}
form {margin-left: auto;
    padding: 10px 15px 70px 15px;
    border-radius: 2px;
margin-right: auto;
color: #ac858e;
background-color: #292024;
width: 800px;}

footer {width: 100%;
    height: 500px;
background-size: 100% 500px;
z-index: -2;

opacity: 75%;
background-image: url(../media/pexels-hasan-albari-1229864.jpg);}


header {    background: linear-gradient(0deg, rgba(112,116,131,1) 0%, rgba(162,150,128,1) 39%, rgba(223,212,192,1) 100%);
    background-image: url(../media/pexels-hasan-albari-1229862.jpg);
    background-repeat: no-repeat;
    background-size: 100% 704px!important;
 width: 100%;
 min-width: 100%;
 max-width: 100%;
opacity: 70%;
position: absolute;
top: 85px;
left: 0px;
min-height: 704px!important; 
box-shadow: -4px 0px 10px #250512;}

label { font-size: 17pt!important;
    white-space: nowrap;
user-select: none;}

ul {list-style: none;}

    ::selection{background-color:#555D70;
        color: #ffff;}

#html {position: relative;
left: 8.2%;}
#css {position: relative;
    left: 8.7%;}
#javascript {position: relative;
left: 7.5%;}

#react {position: relative;
left: 9%;}

#github {position: relative;
left: 10.5%;}

#bootstrap {position: relative;
left: 9.6%;}

#npm {position: relative;
left: 11.9%}

#visualstudiocode {position: relative;
left: 6%;}

#previous i, #next i {font-size: 70pt;
  color: #b87187;
text-shadow: 2px 2px 5px #504545;}

#row2 i {margin-left: 9%;
margin-right: 9%;
display: flex;
max-width: 100%;
}


#row2 {padding-right: 130px;
padding-bottom: 30px;}

#portfolio {position: absolute;}
#row2 label {
margin-top: -35px!important;}

#summary {width: 754px;
resize: vertical;}

.aboutMe {margin-top: 150px;
    margin-bottom: 130px;}

    .aboutMe p {margin-right: 2%;
        margin-top: 6%;
        color: #d4828b;
        padding-left: 20px;
    font-size: 20px;}

.aboutMe .row {background-color: #4d1e21;
max-width: 1100px;
border: 3px solid  #250512;
border-radius: 2px;
padding: 12px 0;
margin-left: auto;
margin-right: auto;}

.aboutMePhoto {width: 65%;
    max-width: 500px!important;
    border: 3px solid #440b22;
    border-radius: 2px;
    user-select: none;
margin-left: 2%;}




.basedIn {white-space: nowrap;
    z-index: 4;
position: relative;
color: #cca0ae;
top: 5%;
    opacity: 0%;
font-size: 35pt;
animation: fadeIn 3s normal;
animation-fill-mode: forwards;
animation-delay: 2.7s;}

.blackout {
    display: none;
}

.blackoutShown {height: 507.4vh;
    position: absolute;
min-width: 100%;
background-color: #eee;
opacity: 50%;
z-index: 0;}

.builtWith {font-weight: bold;
font-size: 15pt!important;}
.headerShown {animation: appear 3s normal;
    animation-fill-mode: forwards;}

.carousel {width: 900px;
    user-select: none;
    max-height: 442px;
    min-height: 442px;
    border: 2px solid  #d1c4c4;}

        .carousel img {max-width: 1000px;
        max-height: 438px;
    min-height: 438px;}
 
    
        .carousel-caption {width: 360px;
            white-space: nowrap;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        margin-bottom: -1%;
        font-weight: bold;
    color: #313547;}

        .carousel-caption a {color: #000000; }

        .carousel-caption a:hover {color:  #a75274;}
        .carousel-caption .backdrop {width: 100%;
        height: 100%;
    background-color: #bebaba;
opacity: 92%;}

.carousel-control-prev {position: absolute;
    left: -5%;}
    .carousel-control-next {position: absolute;
        right: -5%;}

.carousel-control-next-icon, .carousel-control-prev-icon {height: 76px!important;}

.carousel-indicators li {background-color: #da95ab;
width: 60px;}

.carousel-indicators {position: absolute;
bottom: -12%;}


.closeButton {position: absolute;
    top: 1%;
right: 1%;}

.container {min-width: 100%!important;
    max-width: 100%;
padding: 0px!important;
margin: 0px!important;}

.contact {margin-top: 100px;
max-width: 100%;
justify-content: center;
background-color: #363636;
padding-top: 20px; 
padding-bottom: 100px;
box-shadow: 0px 1px 10px #250512;}

.contact form {border: 3px solid #250512;}

.contact button {
position: absolute;
margin-top: 10px;
right: 405px;
}

.submitButton:hover {background-color: #ebb4cf!important;
    color: #472123!important;}

.submitButton:active {margin-top: 12px;
    animation: footerbuttonActive .5s normal;}



.contactLinks button:active {margin-top: 2px;
animation: footerbuttonActive .5s normal;
outline:none;
margin-bottom: 18px;}

.contact button:active {
animation: buttonActive .5s normal;
outline:none;}



.contactLinks {
    user-select: none;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 490px;
}

.contactLinks button {width: 140px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
white-space: nowrap;}

.contactLinks i {font-size: 22px;}

.contactLinks form {padding: 0px;
width: 140px;
background-color: transparent;}

.contactLinks h2 {margin-bottom: 30px;
    position: relative;
    bottom: 7px;
    mix-blend-mode: hard-light;
    color: #472431;
    margin-top: 5px;
font-size: 4.4vw;
letter-spacing: 3vw;
text-shadow: -3px 0 #fcbad3, 0 3px #fcbad3, 3px 0 #fcbad3, 0 -3px #fcbad3;
font-family: 'Rock Salt', cursive;}



    

.contact .nameLabel {margin-right: 34%;}

.companyLabel {margin-left: 29.5%;}

.currentlyUtilizing i {font-size: 3vw;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: 7%;
max-width: 20px!important;}

.currentlyUtilizing i:hover {font-size: 4vw;
    margin-bottom: 10px;
    margin-top: 0px;
max-width: 10px!important;}    

.currentlyUtilizing #row2 i:hover {font-size: 4vw;
    margin-right: 9.7%;
max-width: 10px!important;} 

.currentlyUtilizing .headers {margin-top: 20px;
margin-bottom: 35px;}

.currentlyUtilizing label {max-width: 30px!important;
    margin-bottom: 5%;}

.currentlyUtilizing #row2 {position: relative;
    right: 20px;}

.currentlyUtilizing {
	background: #363636;
    margin-bottom: 100px;
    max-width: 100%;
padding-top: 20px;
box-shadow: 0px -1px 10px #250512,
0px 1px 10px #250512;}

.currentlyUtilizing .row {display: flex;
max-width: 100%;
align-items: flex-end;
margin-bottom: 3%;
justify-content: flex-end;
padding-right: 80px;
}

.container, .currentlyUtilizing {overflow-x: hidden;}


#dropdownMenu {  background-image: url(../media/marble.jpg)!important;
    max-width: 265px;
margin-top: 2.65%!important;
position: absolute;
left: -55%;}

#dropdownMenuLink:hover {background-color: transparent;}

  .dropdown-item {width: 263px;
    position: relative;
    right: 25px;
    padding-left: 40px;
   color: #e7d2dc;}

   .dropdown a:hover { color: #ffa9ca;
background-color: rgba(255, 93, 131, 0.1)}

  .dropdown i {font-size: 50px;
padding-bottom: 15px;}


    #dropRight .dropdown-menu {border: none;
    margin-left: 21px;
margin-top: 10%;}


.fa-caret-down {font-size: 14pt!important;
position: absolute;
bottom: -8px;
right: -16px;}

.footer {max-height: 500px;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0px -4px 5px #250512;
}

.form-control {width: 400px;
    resize: none;
margin-bottom: 20px;
background-color: #302A30;
margin-left: 5px;
color: #fcbad3;
margin-right: 5px;}

.form-control:focus {
    width: 400px;
    resize: none;
margin-bottom: 20px;
background-color: #3f373f;
margin-left: 5px;
color: #fcbad3;
border: none;
margin-right: 5px;}

.form-row {display: flex;
    max-width: 100%;}

.hamburgerContact {padding-left: 20px;
    padding-top: 4px;}


    #mobileContactItem {padding-left: 10%;}
.header { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
    min-width: 400px;
    height: 660px;
    z-index: -1!important;
}

.header .content { width : 100%;}

.headers {font-family: 'Rock Salt', cursive;
    opacity: 0%;
    font-size: 4.2vw;
    user-select: none;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 80px;
padding-right: 30px;}

.shown p {position: relative;
top: 10%;}

.shown ul {margin-top: 2%;}
.shown li, .shown p {font-size: 14pt;}

#aboutHeader {margin-left: 75%;}

#utilizingHeader {margin-left: 46%;}

#portfolioHeader {margin-left: 70%;
margin-top: 10px;}

#contactHeader {margin-left: 65%;}

.keepinline {display: flex;
    max-width: 100%;
    flex-direction: row;
  width: 100%;
position: relative;
left: 9%;
top: -5%;
height: 100px;}

.hidden{opacity: 0%;
    font-weight: bold;
  font-size: 22px;}


  .monogram {max-height: 80px;
margin-left: 10px;
margin-right: 7%;}

.myName, .basedIn {padding-right: 20px;
user-select: none;}

.myName {text-align: right; 
    mix-blend-mode: overlay;
color: #ee2957;
font-family: 'Rock Salt', cursive;
font-size: 5vw;
    position: relative;
    top: 10%;
    left: 12%;
    white-space: nowrap;
    transform: scale(1.2);
    width: 100%;
    max-width: 100%;
    text-shadow: -3px 0 #000000, 0 3px #000000, 3px 0 #000000, 0 -3px #000000;
    text-align: left;
    padding-left: 15px;
    letter-spacing: 2.29vw;
    animation: appearNoFade 2.7s normal;}




.nav {   width: 100%;
    max-width: 100%;
    height: 85px;
}

.navLinks {position: relative;
right: 100px;}
.navRow {
    box-shadow: -4px 0px 10px #250512;
    z-index: 9;
    user-select: none;
    display: flex;
    background-image: url(../media/marble.jpg);
    background-color: #3a3c41;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
    height: 85px;
    position: fixed;
    z-index: 9999999;
}

.navRow a {margin-left: 25px;
margin-right: 25px;
font-size: 24px;
text-decoration: none;
}

.portfolio {position: relative;
    max-width: 100%;
bottom: 10px;}

.previewPic {width: 51%;
position: absolute;
left: 25%;
bottom: 10px;}

.projects {display: flex;
    max-width: 100%;
justify-content: center;}

.row {display: flex;
    max-width: 100%;
flex-direction: row;}

.shown {display: inherit;
position: absolute;
width: 97%;
height: 630px;
background-color: #b87187;
color: #161616;
z-index: 9;
top: 17%;}

.shown li {margin-bottom: 10px;
margin-top: 2px;}

.shown p {width: 80%;
    padding-left: 10%;
;}

.hiddenInfo, .hiddenInfoTwo {display: none;}



@media only screen and (max-width: 500px) {
    header {min-height: 500px;
    min-width: 100%;
    right: .5px;}


    #lastNameLabel {
        margin-left: -16%;}
        .companyLabel {margin-left: 9%;}

    #summary {width: 98%;
        resize: vertical;}

        #aboutHeader {margin-left: 40%;
        margin-top: 70px;}

        #utilizingHeader {margin-left: 12%;
        letter-spacing: -3.5px;
    font-size: 24pt}

    #contactHeader {margin-left: 22%;}


#portfolioHeader {margin-left: 33%;}

.aboutMe {margin-top: 10px;}

        .carousel {width: 95%;
        max-height: 208px;
    min-height: 209px;}

        .carousel-indicators {position: absolute;
            bottom: -25%;}

            .carousel-caption {bottom: -5%;
                left: 5%;
            height: 50%;}

            
            .carousel-caption h3 {font-size: 16pt;}



        #emailSubmit, #companySubmit {width: 50%;}
    .aboutMe {
        margin-bottom: 0px;}

    .aboutMe .row {
        max-width: 900px;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;}
    
        .aboutMe p {
            margin-top: 4%;
       text-align: left;
        font-size: 20px;}
        
        #aboutMeText {position: relative;
            width: 100%;}

        .aboutMePhoto {width: 350px;
            max-width: 450px!important;
        margin-left: 10.5%;}

.basedIn{font-size: 25px;
    position: relative; top: -38px;}


    form {
    width: 100%;}
.carousel-inner, .carousel-item {height: 205px;}
    .carousel img {max-width: 1300px;
        max-height: 195px;
    min-height: 205px;}
    

    .contactLinks h2 {white-space: nowrap;
    font-size: 20px;
    position: relative;
    bottom: -25%;
    letter-spacing: 0.2px;
    padding-left: 10px
}

.contactLinks {bottom: 510px;}


    .currentlyUtilizing i {font-size: 23pt;
        margin-bottom: 10px;
        margin-left: 8%;
        margin-right: 8%;}

    .currentlyUtilizing i:hover {font-size: 25pt;
        margin-top: 0px;
        margin-bottom: 7px;
    }    

    .currentlyUtilizing .row {display: flex;
        align-items: flex-end;
        margin-top: 40px;
        max-width: 100%;
        justify-content: flex-start;}


        .currentlyUtilizing .headers {margin-top: 7px;
            margin-bottom: 5px;}

            .contact button {
                left: 70%;}


                #hamburgerContactmenu .dropdown-menu {position: absolute;
                    padding-left: 1%;
                    bottom: 0;}

.header {    max-width: 100%;}

.headers {font-size: 40px;}
.contactLinks h2 {font-size: 35px;
margin-top: 3%;}
.myName {
    position: relative; top: -42px;
    padding-left: 0px;
    letter-spacing: 2px;
    font-size: 7.7vw;
width: 100%;}

    .monogram {
        margin-right: 3%;}

.navRow {  width: 100%;
    max-width: 100%;}
.navRow a {font-size: 22px;
text-align: left;
margin-left: 12px;
margin-right: 12px;}
.navLinks {display: none;}

.portfolio {max-height: 270px;
}

#previous i, #next i  {position: absolute;
    font-size: 50pt;
    top: 30%;}

#previous i {left: 30%;}

#next i {right: 30%;}

#row2 i {margin-left: 7%;
    margin-right: 7%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
padding-left: 58px;}


.currentlyUtilizing #row2 i:hover {font-size: 27pt;
    margin-right: 4%;
margin-left: 9.8%;}

.currentlyUtilizing label {display: none;}

}


@media only screen and (max-width: 1025px) and (min-width: 501px) {

    header {min-height: 520px;}

    .footer {
    overflow: hidden;}

    .carousel {width: 95%;
    height: 485px;}

    .currentlyUtilizing {width: 100%;}

    .aboutMe .row {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;}

    .aboutMe p {margin-right: 2%;
        margin-top: 4%;
        padding-left: 20px;
    font-size: 20px;}
    
    .aboutMePhoto {width: 400px;
        max-width: 450px!important;}

    
    .currentlyUtilizing i {font-size: 28pt;
        margin-left: 6%;
        margin-right: 6%;}

    .currentlyUtilizing i:hover {font-size: 32pt;
        margin-bottom: 10px;
        margin-top: 0px;
    max-width: 10px!important;}    

    .currentlyUtilizing .row {display: flex;
        max-width: 100%;
        align-items: flex-end;
        justify-content: flex-end;}

        #dropdownMenu {top: 40px;}


    .hamburgerDropDown {display: none;}
.basedIn {font-size: 27pt;
    position: relative;
    top: -15px;}
.header .myName {font-size: 32pt;
position: relative;
top: -5px;}

#row2 i {margin-left: 8%;
    margin-right: 8%;
    max-width: 100%;
    display: flex;}
.currentlyUtilizing #row2 i:hover {
margin-right: 9.19%;}
    #html {position: relative;
        left: 7%;}
        #css {position: relative;
            left: 7.8%;}
        #javascript {position: relative;
        left: 6%;}
        
        #react {position: relative;
        left: 8%;}
        
        #github {position: relative;
        left: 9%;}
        
        #bootstrap {position: relative;
        left: 7.8%;}
        
        #npm {position: relative;
        left: 11.6%}
        
        #visualstudiocode {position: relative;
        left: 3.5%;}
        
}

@media (min-width: 1025px){ header {min-height: 550px; background-size: 100% 550px;}


.hamburgerDropDown {display: none;}



}

@keyframes fadeIn {from {opacity: 0%;} to {opacity: 100%}}

@keyframes appear {from {margin-right: -80px; opacity: 0%; letter-spacing: -10px;}
to {margin-right: 0; opacity: 100%;}}

@keyframes appearNoFade {from {margin-left: -80px; letter-spacing: -20px;}
to {margin-left: 0;}}


@keyframes buttonActive { 0%{background-color: #484E57;
    color:  #EEF0F0;}
100% {background-color: #EEF0F0;
    color: #3b3939;}}

    
@keyframes footerbuttonActive { 0%{background-color: #3f3238;
    color:  #f0c3d6;}
100% {background-color: #484E57;
    color: #EEF0F0;}}


    .dropdown-menu {    background-color: #e9eef3;
}

    .dropdown-item:hover {background-color: transparent;
        color: #494f6e;}