img {
max-height: 1200px;
max-width: 100%;}

body {background: url('../media/landscape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  background-position-y: 100%;
color: #232a63;}

html{
  width:100%;
  height:100%;
}

h4 {padding-left: 80px;}
h4 p {padding-top: 100px;
  font-family: 'Crimson Text', serif;
}

  header {
    position: fixed;
    text-align: left;
    height: 100%;
    width: 30%;
  padding: 17px 0 7px 7px;
margin-left: 650px;
font-size: 18px;
font-family: 'Roboto', sans-serif;}

footer {position: absolute;
  padding-left: 1060px;
  bottom: 0;
  width: 50%;
text-align: center;
white-space: nowrap;
}
a, a:active, a:visited {color: #6a7790}


a:hover {
color: #17103c; 
cursor: default;
text-decoration: none;}

.basedIn {font-size: 18px;
  font-family: 'Roboto', sans-serif;}

.name {font-size: 30px;
color: #465163;}

.container {margin-left: 0px !important;}

.monoIcon img {max-width: 55px;
margin-left: 80px;
padding-top: 10px;}
